body {
 background-color: hsl(212, 45%,89%);
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0;
}
.scanner {
    margin: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgb(76, 75, 75);
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}
.scan-img {
    margin-bottom: 20px;
    
}
.scan-img img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.text-content h3{
    color: black;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.text-content p{
    color: gray;
    font-size: 15px;
    line-height: 1.4;
}